/* common slider styles */

.swiper-pagination-bullet {
  background-color: var(--backgroundBlue);
  scale: 1.5;
  opacity: 1;
}

.manufacturesSlider .swiper-pagination-bullet {
  background-color: var(--white);
  scale: 1.5;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow);
}

.swiper-pagination::before {
  position: absolute;
  top: 6px;
  left: 6px;
  @media screen and (min-width: 1280px) {
    top: 8px;
    left: 6px;
  }
  z-index: -10;
  content: "";
  display: block;
  width: calc(100% - 12px);
  height: 1px;
  background-color: var(--backgroundBlue);
}

.swiper-button-prev {
  top: calc(100% - 31px) !important;
  left: calc(50% - 56px - 56px) !important;
  width: 52px !important;
  height: 52px !important;
  border-radius: 100%;
  border: 1px solid var(--black);
  transition: border-color 500ms ease-out, background-color 500ms ease-out;
  outline: none;
  &:focus-visible,
  &:active {
    background-color: var(--backgroundBlue);
    border-color: var(--backgroundBlue);
  }
  @media screen and (min-width: 1280px) {
    &:hover {
      background-color: var(--backgroundBlue);
      border-color: var(--backgroundBlue);
    }
  }
}

.swiper-button-next {
  top: calc(100% - 31px) !important;
  right: calc(50% - 56px - 56px) !important;
  width: 52px !important;
  height: 52px !important;
  border-radius: 100%;
  border: 1px solid var(--black);
  transition: border-color 500ms ease-out, background-color 500ms ease-out;
  outline: none;
  &:focus-visible,
  &:active {
    background-color: var(--backgroundBlue);
    border-color: var(--backgroundBlue);
  }
  @media screen and (min-width: 1280px) {
    &:hover {
      background-color: var(--backgroundBlue);
      border-color: var(--backgroundBlue);
    }
  }
}

.swiper-button-next::after {
  content: "" !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/images/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev::after {
  content: "" !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/images/icons/arrow.svg");
  transform: rotate(-180deg);
  background-position: center;
  background-repeat: no-repeat;
}

/* styles for manufactures slider */

.swiper.manufacturesSlider {
  width: 312px !important;
  aspect-ratio: 1;
  padding-bottom: 40px !important;
  @media screen and (min-width: 768px) {
    width: 528px !important;
    height: 397px !important;
    padding-bottom: 45px !important;
  }
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide.manufacturesSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px !important;
  height: calc((100% - 16px) / 2) !important;
  border-radius: 16px;
  background-color: var(--white);
  @media screen and (min-width: 768px) {
    width: 160px !important;
    height: 160px !important;
  }
}

.manufacturesSlider .swiper-pagination-bullet-active {
  background-color: var(--yellow);
}

.manufacturesSlider .swiper-pagination::before {
  background-color: var(--white);
}

/* styles for reviews slider */

.swiper.reviewsSlider {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 66px !important;
  max-width: 350px !important;
  @media screen and (min-width: 768px) {
    min-width: 669px !important;
    max-width: 792px !important;
    height: 100% !important;
  }
  @media screen and (min-width: 1280px) {
    min-width: 1080px !important;
    max-width: 1080px !important;
    margin-top: 16px;
  }
  @media screen and (min-width: 1640px) {
    min-width: 1440px !important;
    max-width: 1440px !important;
  }
}

.swiper-slide.reviewsSlider {
  min-width: 304px !important;
  max-width: 350px !important;
  height: 350px !important;
  border-radius: 18px;
  background-color: var(--darkWhite);
  @media screen and (min-width: 768px) {
    max-width: 380px !important;
    border-radius: 24px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 384px !important;
    max-width: 404px !important;
    height: 475px !important;
  }
  @media screen and (min-width: 1640px) {
    min-width: 264px !important;
    max-width: 384px !important;
    height: 475px !important;
  }
}

.swiper-slide-active.reviewsSlider {
  background-image: url("/images/bgImages/skyBgImage.webp");
  background-size: cover;
}

/* styles for projects slider */

.swiper.projectsSlider {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 84px !important;
  max-width: 350px !important;
  @media screen and (min-width: 768px) {
    min-width: 669px !important;
    max-width: 792px !important;
    height: 100% !important;
  }
  @media screen and (min-width: 1280px) {
    min-width: 1080px !important;
    max-width: 1080px !important;
    padding-bottom: 92px !important;
  }
  @media screen and (min-width: 1640px) {
    min-width: 1440px !important;
    max-width: 1440px !important;
  }
}
