.swiper {
  width: 312px;
  aspect-ratio: 1;
  height: calc(100% + 40px);
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 528px;
    height: 397px;
    padding-bottom: 45px;
  }
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px !important;
  height: calc((100% - 16px) / 2) !important;
  border-radius: 16px;
  background-color: var(--white);
  @media screen and (min-width: 768px) {
    width: 160px !important;
    height: 160px !important;
  }
}

/* .swiper-pagination-bullet {
  background-color: var(--yellow);
} */

.swiper-pagination-bullet-active {
  background-color: var(--yellow);
}
