@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fffefa;
  --darkWhite: #f6f6f4;
  --black: #040e2f;
  --yellow: #fdbd00;
  --blue: #0b70bc;
  --backgroundBlue: #d7e8f8;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--black);
  background: var(--white);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
